:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25Zm1.75-.25a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25Z"/><path d="M6 10.559V5.442a.25.25 0 0 1 .379-.215l4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559Z"/></svg>')
}

.md-typeset .admonition.video,
.md-typeset details.video {
    border-color: rgb(41, 189, 243);
}

.md-typeset .video>.admonition-title,
.md-typeset .video>summary {
    background-color: rgba(12, 255, 239, 0.1);
}

.md-typeset .video>.admonition-title::before,
.md-typeset .video>summary::before {
    background-color: rgb(41, 189, 243);
    -webkit-mask-image: var(--md-admonition-icon--video);
    mask-image: var(--md-admonition-icon--video);
}

.md-typeset .md-button{
    border-radius: 2em;
}

/* .marquee {
    color: red;
} */


.md-button {
    background-color: white;
    border-radius: 5px;
}

[data-md-color-scheme="slate"] .md-button {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-md-color-scheme="slate"] .marquee {
    color: whitesmoke;
}

[data-md-color-scheme="slate"] .md-typeset .admonition.video,
[data-md-color-scheme="slate"] .md-typeset details.video {
    border-color: rgb(41, 189, 243);
}

[data-md-color-scheme="slate"] .md-typeset .video>.admonition-title,
[data-md-color-scheme="slate"] .md-typeset .video>summary {
    background-color: rgba(255, 255, 255, 0.1);
}


[data-md-color-scheme="slate"] .md-typeset .admonition.info{
    background-color: rgba(255, 255, 255, 0);

    border-color:yellow
}

.md-main__inner{
    min-width:90%;
    margin-top:0em;
}


[data-md-color-scheme="slate"] .md-content{
    border-color: white /* sets a 1px solid black border on the left side of the element */
}

h1{
    color: rgb(35, 25, 228);
}

[data-md-color-scheme="slate"] h1{
    color:white;
}

.md-typeset hr {
    border-bottom: 0.5rem solid var(--md-default-fg-color--lightest);
    display: flow-root;
    margin: 1.5em 0;
}

.slide-deck{
    width:100%; 
    height:900px
}

.md-header__inner.md-grid
{
    max-width: 90%;
}

.tabbed-content{
    margin:auto;
}

.vid{
    min-width:45em; 
    height:30em;
    display:block;
    margin:auto;
}

.md-nav__item{
    font-weight: 500;
    /* font-family: 'Roboto'; */
    font-size: 15pt;
}

/* Custom card button style */
.card-button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    width: 250px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #fff;
    text-align: center; /* Optionally center the text horizontally */
    text-decoration: none;
    font-size: 20pt;
    color: #333;
    transition: background-color 0.3s;
    margin: 10px; /* Add margin for spacing */
  }
  
  .card-button:hover {
    background-color: #f2f2f2;
  }
  